html, body, div, span, h1, h2, h3, p, a, ul, li, button, input, textarea  {
    font-family: "Trirong", sans-serif;
  }
  .post-title {
    font-size: 4em; /* Tamanho da fonte aumentado para 2.5em */
    color: #333; /* Cor do texto */
    font-weight: bold; /* Peso da fonte */
    margin-bottom: 10px; /* Margem inferior */
}
.resumos-title {
  font-size: 3em; /* Tamanho da fonte aumentado para 2.5em */
  color: #333; /* Cor do texto */
  font-weight: bold; /* Peso da fonte */
  margin-bottom: 10px; /* Margem inferior */
}